<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Iniciar sesion</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="form" (ngSubmit)="onEnviar($event)">
                <div class="mb-3">
                  <label for="exampleImputEmail1" class="form-label"><p>Ingrese su email</p></label>
                  <input type="email" class="form-control" id="exampleInputEmail1"formControlName="email"
                  [class.border-success]="Mailvalid" [class.border-danger]="MailInvalid">
                <div class="mb-3">
                  <div *ngIf="Mail?.errors  && Mail?.touched">    
                    <p *ngIf="Mail?.hasError('required')" class="error">
                        El email es requerido.
                    </p>
                    <p *ngIf="Mail?.hasError('email')" class="error">
                        El formato del email debe ser válido.
                      </p>
                </div>
                  <label for="exampleInputPassword1" class="form-label" ><p>Contraseña</p></label>
                  <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password" 
                  [class.border-success]="Passwordvalid" [class.border-danger]="PasswordInvalid">
                  <div *ngIf="Password?.errors  && Password?.touched">
                    <p *ngIf="Password?.hasError('required')" class="error">
                      El password es requerido.
                    </p>
                    <p *ngIf="Password?.errors?.['minlength']
                " class="error">
                      El password debe ser de 6 o más caracteres.
                    </p>
                  </div>
                </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">Ingresar</button>
        </div>
        </form>
        <button class="btn btn-light" data-bs-target="#registrarse" data-bs-toggle="modal">¿Eres nuevo? Puedes registrarte aquí :)</button>
    </div>
  </div>
    </div>
</div>
<app-modal-registrarse></app-modal-registrarse>

