<div class="testbox">
    <h1>Registrarse</h1>
    <form action="/">
        <hr>
      <div class="accounttype">
        <input type="radio" value="None" id="radioOne" name="account" checked/>
        <label for="radioOne" class="radio" chec>Persona</label>
        <input type="radio" value="None" id="radioTwo" name="account" />
        <label for="radioTwo" class="radio">Compania</label>
      </div>
    <hr>
    <label id="icon" for="name"><i class="icon-envelope "></i></label>
    <input type="text" name="name" id="name" placeholder="Email" required/>
    <label id="icon" for="name"><i class="icon-user"></i></label>
    <input type="text" name="name" id="name" placeholder="Nombres y apellido" required/>
    <label id="icon" for="name"><i class="icon-shield"></i></label>
    <input type="password" name="name" id="name" placeholder="Contraseña" required/>
    <div class="gender">
     </div> 
     <a href="#" class="button">Registrarse</a>
    </form>
  </div>